
.reset-container {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 700px;
}
.resetfullpage{
background-image: url('../../assets/nextbackground.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height:100vh;
 width: 1300px; */
}
.reset-box {
  background: #ffffff;
  width: 380px;
  padding: 40px 35px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.25);
}
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background-color: #111827;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-text h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: #111827;
}


.reset-title {
  font-size: 22px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 5px;
}

.reset-subtitle {
  font-size: 14px;
  color: #ef4444;
  margin-bottom: 25px;
  line-height: 1.4;
}


.input-field {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.input-field:focus {
  border-color: #ef4444;
  background-color: #fff;
}


.btn {
  background-color: #ef4444;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 12px 0;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #dc2626;
}
