.logoutcontainer{
    background-color: white;
    height: 180px;
    width: 320px;
  box-shadow: 1px solid black;
  margin-top: 200px;
 box-shadow: 0px 0px 10px rgb(103, 99, 99);
 padding-top: 30px;
 padding-left: 70px;
 margin-left: 300px;
}
.logoutbtn{
    background-color: black;
    color: white;
}

.line{
    color: black;
    font-family: 'Franklin Gothic Medium';
}
.cancelbtn{
    border: 2px solid black;
    background-color: white;
    color: black;
}