.forgot-container {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
   padding-right: 700px;
}
.fpfullpage{
   background-image: url('../../assets/nextbackground.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height:100vh;
 width: 1300px; */

}
.forgot-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo-circle {
  width: 40px;
  height: 40px;
  background: #111827;
  border-radius: 50%;
  margin-right: 10px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  color: #111827;
  line-height: 1.2;
}

h3 {
  font-size: 22px;
  color: #111827;
  margin-bottom: 5px;
}

p {
  color: #ef4444;
  font-size: 14px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 14px;
}

.send-btn {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 12px 0;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.send-btn:hover {
  background-color: #dc2626;
}
