*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
background-image: url("../assets/background.jpeg");
background-repeat: no-repeat;
background-size: cover;

min-height: 100vh;                 
min-width: 100vw;
display: flex;
justify-content: flex-start;
align-items: flex-start;

box-sizing: border-box;
margin: 0;
padding: 0;

}
body,html{
  margin: 0;
  padding: 0;
  height: 100%;                 
width: 100%;
/* display: flex; */
justify-content: flex-start;
align-items: flex-start;
/* box-sizing: border-box; */
/* overflow: hidden; */
}

.getstarted-box {
display: flex;
justify-content: flex-start;
flex-direction: column;
align-items: flex-start;
text-align: left;
margin-top: 200px;
}
.box {
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
  
 height: 100vh;
 width: 100%;
  color: white;
}

.bttn {
  background: red;
  color: white;
  border-radius: 20px;
  
padding-left: 40px;
padding-right: 40px;
  font-size: 1rem;
  /* margin-right:280px ; */
}
/* .btn:hover {
  background: red;
} */

/* .line{ */
  /* font-style: italic; */
 
  /* display: flex;
  justify-content: start; */
/* } */

.shape{
  color: white;
  font-size: larger;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium';
 
}
.icons{
  display: flex;
  justify-content: center;
  gap: 20px;
 /* position: absolute; */
 margin-left: 100px;
 margin-top: 350px;
 
}
.topicon{
 color: white;
 /* position: relative; */
/* display: flex;
align-items: flex-start;
margin-bottom: 150px;
margin-right: 100px; */
}